@import "tailwindcss";

@theme{
    --color-primary:#77525C;
    --color-secondary:#685C58;
    --color-tertiary:#D3C2C5;
    --color-neutral:#FBF9F8;
    --color-background:#F5F3F2;
    --color-forground:#EDDCD7;
    --color-grayground:#E4E2E1;
    --color-roseground:#926A74;
    --font-serif:"Noto Serif", serif;
    --font-inter:"Inter", sans-serif; 
    --font-Garamond:"Cormorant Garamond", serif;
}
@layer base{
    body{
        background-color: white;
        color: var(--color-secondary);
        font-family: var(--font-inter);
        
    }
    .container{
        @apply mx-auto;
    }
}
@utility row{
    @apply flex items-center;
}
@utility nav-link{
    @apply font-Garamond text-lg text-primary;
}